@import url(root.css);
@import url(./global.css);
/* livvic-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--white);
  font-family: "Livvic";
  object-fit: contain;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.7;
}
a {
  text-decoration: none;
  color: var(--white);
}
ul,
ol {
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-container {
  display: flex;
  align-items: center;
}
header {
  background-color: var(--header-bgcolor);
  padding-top: 73px;
  padding-bottom: 73px;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-right: auto;
}
.header-link {
  display: flex;
}
.header-list {
  display: flex;
  gap: 4rem;
}
.header-item {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.6;
}
.home {
  color: var(--white);
}
.home:hover {
  color: var(--orange);
}
.about {
  color: var(--white);
}
.about:hover {
  color: var(--orange);
}

.header-btn {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1rem 3.2rem;
  border: 2px solid var(--white);
  border-radius: 2.4rem;
}
.header-btn:hover {
  background-color: var(--white);
  color: var(--footerbgc);
}

/*MAIN*/

/* section-wrapper*/
.section-container {
  display: flex;
  justify-content: space-between;
}
.section-wrapper {
  background-color: var(--header-bgcolor);
  padding-bottom: 25rem;
  padding-top: 4.6rem;
  background-image: url(../images/group\ 8.png), url(../images/Group\ 7.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top 4.6rem left, bottom right 16rem;
}
h1 {
  font-weight: 700;
  font-size: 10rem;
  line-height: 1;
  width: 53.5rem;
}
.text-orange {
  color: var(--orange);
}
.section-blue-line {
  width: 44.5rem;
}
.line-blue {
  width: 5rem;
  height: 0.4rem;
  background-color: var(--blue-line-color);
  border: none;
  margin-bottom: 8rem;
}

.blue-line-text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.6;
}

/* orange-line-section */

.orange-line-section {
  background-color: var(--sectionbgc);
  padding-top: 14rem;
  padding-bottom: 14rem;
  background-image: url(../images/Group\ 8\ 2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.orange-line {
  height: 0.4rem;
  width: 5rem;
  background-color: var(--orange);
  border: none;
  margin-bottom: 5.4rem;
}
.orange-line-text {
  font-weight: 700px;
  font-size: 4.8rem;
  line-height: 1;
  width: 43.5rem;
}
.section-orange-items {
  width: 56rem;
  padding-top: 5rem;
}

.section-item {
  display: flex;
  align-items: center;
}
.section-item-img {
  margin: 2.3rem;
}
.section-item-img-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--orange);
}
.section-item-img-text {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.7;
  color: var(--white);
  opacity: 80%;
}

/* section*/

.person-section {
  background-color: var(--section-bgc);
  padding-top: 14rem;
  padding-bottom: 14rem;
}
.section-container-person {
  display: flex;
  flex-direction: column;
}

.person-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  width: 93rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 5.6rem;
}
.blue-text {
  color: var(--blue-line-color);
}

.person-items {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.person-item {
  width: 35rem;
  padding-top: 3.6rem;
  background-image: url(../images/icon-quotes.svg);
  background-position: top;
  background-repeat: no-repeat;
}
.person-text {
  padding-bottom: 2.4rem;
}
.person-item-img-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.6;
  color: var(--blue-line-color);
}
.person-item-img-text {
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.8;
  padding-bottom: 3.2rem;
}
.person-img {
  border-radius: 50%;
}
.cta {
  display: flex;
  padding-top: 7.4rem;
  padding-bottom: 7.4rem;
  background-color: var(--orange);
  background-image: url(../images/cta.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
}
.cta-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.footer-title {
  color: var(--sectionbgc);
  margin: 0;
  padding: 0;
  text-align: start;
  max-width: 50.4rem;
}
.footer-btn {
  color: var(--sectionbgc);
  border: 2px solid var(--sectionbgc);
  padding: 1rem 3.2rem;
  border-radius: 2.4rem;
}

.footer-btn:hover {
  color: var(--white);
  background-color: var(--sectionbgc);
}

.info-box {
  display: flex;
}
.footer-info {
  background-color: var(--footerbgc);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}
.footer-list {
  display: flex;
}
.footer-items {
  margin-left: 12rem;
  margin-right: auto;
  display: flex;
}
.footer-item:hover {
  cursor: pointer;
  color: var(--orange);
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25rem;
  gap: 1.6rem;
}

.footer-item-list {
  color: var(--white);
  opacity: 60%;
}
.footer-building-item {
  display: flex;
  margin-bottom: 4.6rem;
}
